@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Roboto&display=swap');

$background-color: #faf9f6;
$background-color-footer: #F0E68C;
$background-color-button: #002244;
$font-color-light-blue: #00BFFF;
$color-white: white;
$font-main: "Roboto", "sans-serif";
$font-title: "Playpen Sans", "sans-serif"
