@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Roboto:wght@100;400&display=swap');


$background-color-footer: #F0E68C;
$background-color-button: #002244;

$font-color-dark-blue:#153067;
$font-color-light-blue:#00BFFF;

$color-white: white;
$color-black: black;
$font-main: "Roboto", "sans-serif";
$font-title: "Playpen Sans", "sans-serif"
