@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Roboto&display=swap');

$background-color: #faf9f6;
$font-color-light: #7CB9E8;
$color-white: white;
$font-main: "Roboto", "sans-serif";
$font-title: "Playpen Sans", "sans-serif"
