@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  max-width: 360px;
  box-sizing: border-box;
  background-color: $background-color;
  font-family: $font-main;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 30px;

  h1 {
    font-size: 40px;
    font-family: $font-title;
    color: $font-color-dark-blue;
  }

  button {
    width: 125px;
    border-radius: 5px;
    background-color: $color-white;
    color: $font-color-dark-blue;
    font-size: 20px;
  }
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  * {
    margin: 15px;
    color: $font-color-dark-blue;
  }

  
  .app-info {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  button {
    font-size: 20px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 20px;
    background-color: $background-color-button;
    color: $color-white;
  }
  
  b {
    margin: 0;
  }

  #sign-up-button{
    margin-bottom: 50px;
  }

  .light-color-text{
    color: $font-color-light-blue;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color-footer;

  a {
    margin: 10px;
    background-color: $background-color-footer;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
}
